@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Option 2: Import via CSS */

* {
  color: rgb(255, 255, 255)!important;
}

body {
  font-family: 'Poppins';
  background: url('../images/background/bg3.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.azul-oscuro {
  background-color: rgba(0, 0, 0, 0.2);
}

.card, nav, footer, .input-group-text, .dropdown-toggle, table {
  backdrop-filter: blur(1rem);
  background-color: rgba(59, 59, 59, 0.4)!important;
}

input, .progress, textarea, .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.322)!important;
}


.boton-amarillo {
  backdrop-filter: blur(1rem);
  background-color: rgba(240, 207, 23, 0.3)!important;
}

.boton-amarillo:hover {
  color: white!important;
  background-color: rgba(240, 207, 23, 0.55)!important;
  backdrop-filter: blur(2rem);
  transition: 0.5s;
}

.boton-verde {
  background-color: rgba(53, 211, 32, 0.3) !important;
  backdrop-filter: blur(1rem);
}

.boton-verde:hover {
  background-color: rgba(53, 211, 32, 0.55) !important;
  backdrop-filter: blur(1rem);
}

.boton-rojo {
  background-color: rgba(211, 32, 32, 0.3) !important;
  backdrop-filter: blur(1rem);
}

.boton-rojo:hover {
  background-color: rgba(211, 32, 32, 0.55) !important;
  backdrop-filter: blur(1rem);
}

.boton-azul {
  background-color: rgba(32, 35, 211, 0.3) !important;
  backdrop-filter: blur(1rem);
}

.boton-azul:hover {
  background-color: rgba(32, 35, 211, 0.55) !important;
  backdrop-filter: blur(1rem);
}

.input-group-text, .form-control, .card, .card-header, .card-footer, .card-body {
  border: 0;
}

.card-header, .card-footer {
  background-color: transparent;
}

.alert {
  background-color: rgba(255, 62, 62, 0.3)!important;
  border-color: rgb(168, 44, 44);
  color: rgb(68, 0, 0);
}

button, input, textarea {
  transition-timing-function: ease-out;
  transition: all 0.5s;
}

button:hover, input:hover, textarea:hover {
  color: white!important;
  background-color: rgba(225, 225, 225, 0.4)!important;
  backdrop-filter: blur(2rem);
  transition-timing-function: ease-out;
  transition: all 0.5s;
  transform: scale(1.005);
}

.transicion {
  transition-timing-function: ease-out;
  transition: all 0.5s;
}

.transicion:hover {
  transition-timing-function: ease-out;
  transition: all 0.5s;
  transform: scale(1.05);
}


.form-control::placeholder {
  color: rgba(255, 255, 255, 0.733);
}

.card {
  border-radius: 10px;
}


tr:nth-child(odd):not(thead > tr) {
  background-color: rgba(139, 139, 139, 0.4)!important;
}

a.active {
  opacity: 0.5;
}

a {
  text-decoration: none;
}

.carousel {
  width: 400px;
}

article {
  border-radius: 100px!important;
}

.bi::before {
  vertical-align: -.125rem !important;
}

th, td, tr {
  background-color: transparent!important;
}

@media screen and (max-width: 767px) {
  html {
    height: 100%;
  }

  body {
    height: 140%;
  }
}